.title {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}
.section-2 {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: blue;
  margin-top: 10px;
  padding: 20px;
}
.type {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.section-3 {
  display: flex;
  justify-content: space-around;
}
.total-transactions-div {
  background-color: blue;
  margin-top: 10px;
  padding: 20px;
}
.total-transactions {
  background-color: white;
  padding: 10px;
}
.section-4 {
  display: flex;
  background-color: blue;
  padding: 20px;

  margin-top: 10px;
}
.total-coming {
  background-color: white;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
