.title {
  background-color: blue;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 800;
}

.title-div {
  text-transform: capitalize;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: blue;
  margin-top: 10px;
  padding: 20px;
}
.type {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
}
.section-3 {
  display: flex;
  justify-content: space-around;
}
.total-transactions-div {
  background-color: blue;
  margin-top: 10px;
  padding: 20px;
}
.total-transactions {
  background-color: white;
  padding: 10px;
  font-weight: 800;
}
.section-4 {
  display: flex;
  background-color: blue;
  padding: 20px;
  margin-top: 10px;
}
.total-coming {
  background-color: white;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  font-weight: 800;
}
.graphs {
  display: flex;
  justify-content: space-around;
}
.bar-graph {
  background-color: blue;
  padding: 1px;
  width: 35%;
  margin-top: 7px;
  text-align: center;
  font-size: 15px;
}
.pie-chart {
  background-color: blue;
  padding: 60px;
  width: 35%;
  margin-top: 7px;
  text-align: center;
  font-size: 15px;
}

.bar-section {
  background-color: white;
  padding: 5px;
  font-weight: 600;
}
.pie-section {
  background-color: white;
  padding: 20px;
  font-weight: 600;
}
.table-id {
  background-color: blue;
  margin-top: 7px;
  text-align: center;
  padding: 60px;
  font-size: 20px;
}
.table-id-div {
  background-color: white;
  padding: 30px;
  font-weight: 600;
  border-collapse: collapse;
}

.table-item {
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
}

.table-id {
  height: 350px;
  overflow: auto;
}

.table-body {
  background-color: white;
  padding: 20px;
  font-weight: 600;
}

.pie-chart-graph {
  width: 100%;
  height: 100%;
}

.bar-chart-graph {
  background-color: white;
  min-width: 600px;
  height: 400px;
}
